<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
       
	<bean id="thirdPartyCallV23Listener" 
		class="yufeiyu.parlayxgateway.foundation.bsc.servicelistener.ThirdPartyCallV23Listener" init-method="init">
		<property name="marshaller" ref="thirdPartyCallV23Jaxb2Marshaller" />
        <property name="unmarshaller" ref="thirdPartyCallV23Jaxb2Marshaller" />	   
	</bean>
	
	<bean id="thirdPartyCallV23Jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller" >
		<property name="contextPath" value="org.csapi.schema.parlayx.third_party_call.v2_3.local" />
	</bean>
	
	<bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="interceptors">
			<list>
				<ref bean="loggingInterceptor"/>
			</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="{http://www.csapi.org/schema/parlayx/third_party_call/v2_3/local}makeCall">thirdPartyCallV23Listener</prop>
				<prop key="{http://www.csapi.org/schema/parlayx/third_party_call/v2_3/local}endCall">thirdPartyCallV23Listener</prop>
				<prop key="{http://www.csapi.org/schema/parlayx/third_party_call/v2_3/local}getCallInformation">thirdPartyCallV23Listener</prop>
				<prop key="{http://www.csapi.org/schema/parlayx/third_party_call/v2_3/local}cancelCallRequest">thirdPartyCallV23Listener</prop>
			</props>
		</property>
	</bean>
	
	<bean id="loggingInterceptor" class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
       
</beans>